day11/ShoppingService/ShoppingServiceConsumer/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShoppingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShoppingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShoppingItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingItem" nillable="true" type="tns:ShoppingItem" />
  <xs:complexType name="ArrayOfShoppingItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingItem" nillable="true" type="tns:ShoppingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingItem" nillable="true" type="tns:ArrayOfShoppingItem" />
</xs:schema>